
@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {

        transform: translateX(1rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {

        transform: translateX(-1rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem)
    }

    80% {

        transform: translateY(-1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}