*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //1 rem = 10px
    font-size: 62.5%;

    // @include responsive(phone) {
    //     font-size: 50%;
    // }
    @include responsive(tab-land) {
        font-size: 56.25%; //1rem = 9px
    }

    @include responsive(tab-port) {
        font-size: 50%; //1rem = 8px
    }

    @include responsive(big-desk) {
        font-size: 75%; //1rem = 12px
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include responsive(tab-port) {
        padding: 0;
    }
}