body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading {
    &__primary {
        color: $color-white;
        text-transform: uppercase;
        margin: 0 0 6rem 0;
        backface-visibility: hidden;

        &--main {
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation: moveFromLeft 1s ease-out;

            @include responsive(phone) {
                letter-spacing: 1rem;
                font-size: 5rem;
            }
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.75rem;
            animation: moveFromRight 1s ease-out;

            @include responsive(phone) {
                letter-spacing: .5rem;
            }
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
    transition: all .2s;

    @include responsive(tab-port) {
        font-size: 2.5rem;
    }

    @include responsive(phone) {
        font-size: 2rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}