@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center_absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin center_absolute--scale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
}

@mixin center_absolute--unscale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}



@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content};    //1200px
    }
    @if $breakpoint == big-desk {
        @media (min-width: 112.5em) {@content}; //1800px+
    }
}

//MEDIA QUERIES MANAGER

/* 

phone: 0 - 600px; 
tab-port: 600 - 900px; 
tab-land: 900 - 1200px;
-desktop: 1200 - 1800px;
big-desk: 1800px+. 

*/