//colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-lighter: #999;
$color-white: #fff;
$color-black: #000;
$color-grid-background: #eee;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//grid
$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;

//font

$default-font-size: 1.6rem;