
.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow:  0 1.5rem 4rem rgba($color-black, .2);
        border-radius: 2px;
        position: absolute;
        z-index: 0;
        transition: all .2s;
        outline-offset: 2rem;
        @include responsive(tab-port) {
            position: relative;
            float:left;
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }
        &--p1 {
            top: -2rem;
            left: 0;
            @include responsive(tab-port) {
               top: 0;
               transform: scale(1.2);
            }
        }
        &--p2 {
            top: 2rem;
            right: 0;
            @include responsive(tab-port) {
                top: -1rem;
                transform: scale(1.4);
                z-index: 100;
             }
        }
        &--p1 {
            top: 10rem;
            left: 20%;
            @include responsive(tab-port) {
                top: 1rem;
                left: 0;
                transform: scale(1.1);
             }
        }
        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            box-shadow:  0 2.5rem 4rem rgba($color-black, .5);
            z-index: 100;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.9) translateY(-.5rem);
    }
}