.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;
        @include responsive(tab-port) {
            width: 100%;
            padding: 1rem;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }
        &::placeholder {
            color: $color-grey-lighter;
            transition: all .3s;
        
        }
    }
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin: .7rem 0 0 2rem;
        display: block;
        transition: all .3s;
    }
    &__radio-group {
        width: 49%;
        display: inline-block;
        @include responsive(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }
    &__radio-input {
        display: none;
    }
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.4rem;
        left: 0;
        

        &::after {
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;

    }
    
}