.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;


    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        @include center_absolute--unscale;
    }
    &__content {
        background-color: $color-white;
        width: 75%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        @include center_absolute--scale;
        display: table;
        border-radius: 3px;
        overflow: hidden;
        transition: all .4s;
    }
    &__left {
        width: 33.33333%;
        display: table-cell;
    }
    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        transform: translate3d(0, 0, 0);
        backface-visibility: none;
    
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;
    }
    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            font-size: 3rem;
        }
        &:hover {
            color: $color-primary;
        }
    }
}