.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    border-radius: 3px;
    padding: 6rem 6rem 6rem 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    background-color: rgba($color-white, .6);
    @include responsive(tab-port) {
        width: 100%;
        padding: 4rem 4rem 4rem 7rem;
    }
    @include responsive(phone) {
        transform: skewX(0);
    }
    &__shape {
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        @include responsive(phone) {
            transform: translateX(-3rem) skewX(0deg);
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }
    &__text {
        transform: skewX(12deg);
        @include responsive(phone) {
            transform: skewX(0deg);
        }
        
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

}