.footer {
    background-color: $color-grey-dark;
    padding: 10rem 0;
    color: $color-grey-light-1;
    font-size: 1.4rem; 

    @include responsive(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

    @include responsive(tab-port) {
        margin-bottom: 5rem;
    }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }
    &__copyright {
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        float: right;
        display: inline-block;

    @include responsive(tab-port) {
      width: 100%;
      float: none;
    
    }
        
    }
    &__navigation {
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;

        @include responsive(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
        transition: all .3s;
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-transform: uppercase;
            display: inline-block;
            
        }
        &:hover,
        &:active {
            color: $color-primary;
            transform: rotate(5deg) scale(1.3);
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }
}