
.row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
        margin: 0 auto $grid-gutter-vertical auto; 
        @include responsive(tab-port) {
            margin:0 auto 4rem auto !important;
                
        }
    }
    @include responsive(tab-port) {
        max-width: 50rem;     
        padding: 0 3rem;  
    }
    @include clearfix;

    [class^="col-"] {
        float: left;
        &:not(:last-child) {
            margin-right: $grid-gutter-horizontal;
            @include responsive(tab-port) {
                margin:0 auto 4rem auto !important;         
            }
        }
        @include responsive(tab-port) {
            width: 100% !important;       
        }
    }
    .col-1-of-2 {
        width: calc((100% - #{$grid-gutter-horizontal}) / 2);
  
    }
    .col-1-of-3 {
        width: calc((100% - 2 * #{$grid-gutter-horizontal}) / 3);
    }
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$grid-gutter-horizontal}) / 3) + #{$grid-gutter-horizontal});
    }
    .col-1-of-4 {
        width: calc((100% - 3 * #{$grid-gutter-horizontal}) / 4);
    }
    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + #{$grid-gutter-horizontal});
    }
    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + 2 * #{$grid-gutter-horizontal});
    }
}