.navigation {
    &__checkbox {
        display: none;

    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        @include responsive(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
        @include responsive(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }

    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-color: $color-primary;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        @include responsive(tab-port) {
            top: 5rem;
            right: 5rem;
        }
        @include responsive(phone) {
            top: 4rem;
            right: 4rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__list {
        @include center_absolute;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;

    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 222%;
            transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__number {
        margin-right: 1.5rem;
        display: inline-block;
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        position: relative;
        margin: 3.5rem auto 0 auto;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark;
            display: inline-block;
            transition: all .2s;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            top: -.8rem;
        }
        &::after {
            top: .8rem;
        }
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(45deg);
        top: 0;
    }
    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-45deg);
        top: 0;
    }
}